[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vijay (karamana)
[access "refs/for/refs/*"]
	read = group user/Vijay (karamana)
	push = group user/Vijay (karamana)
	label-Code-Review = -2..+2 group user/Vijay (karamana)
	label-Verified = -1..+1 group user/Vijay (karamana)
	rebase = group user/Vijay (karamana)
	removeReviewer = group user/Vijay (karamana)
	submit = group user/Vijay (karamana)
[access "refs/heads/*"]
	read = group user/Vijay (karamana)
	create = group user/Vijay (karamana)
	push = +force group user/Vijay (karamana)
	pushMerge = group user/Vijay (karamana)
[access "refs/tags/*"]
	push = +force group user/Vijay (karamana)
	pushTag = group user/Vijay (karamana)
	pushSignedTag = group user/Vijay (karamana)
