.memoryAddressTextBox {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: courier;
    width: 60px;
    font-weight: bold;
}

.memoryTextBox {
	padding: 0px;
	margin: 0px;
	border: 0px;
    font-family: courier;
    width: 30px;
    font-weight: bold;
}

.disassemblyTextBox {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: courier;
    width: 120px;
    font-weight: bold;
}

.bigLabel {
    font-weight: bold;
    color: purple;
}

.registerTextBox {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: courier;
    width: 30px;
    font-weight: bold;
}

.memoryWindow {
	border: 1px inset gray;
	font-family: monospace;
	font-weight: bold;
}

.registerWindow {
    border: 1px inset gray;
    font-family: monospace;
    font-weight: bold;
}


.memoryWindowHighlight {
	color: red;
}

.currentInstructionHighlight {
	background: blue;
	font-weight: bold;
	color: white;
}

.sourceCodeWindow {
	font-family: monospace;
	
}

.border {
	border: 1px solid;
}

.debugButton {
	font-weight: bold;
}