.memoryTextBox {
	padding: 0px;
	margin: 0px;
	border: 0px;
    font-family: courier;
    width: 60px;
}

.bigLabel {
    font-weight: bold;	
}

.registerTextBox {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: courier;
    width: 30px;
}

.memoryWindow {
	border: 1px inset gray;
	font-family: monospace;
}

.registerWindow {
    border: 1px inset gray;
    font-family: monospace;
    width: 10px;
}


.memoryWindowHighlight {
	color: red;
}

.currentInstructionHighlight {
	background: blue;
	font-weight: bold;
	color: white;
}

.sourceCodeWindow {
	font-family: monospace;
	
}